* {
    padding: 0;
    margin: 0;
}



body {
    height: 100%;

}



nav {
    border: 0.4em solid;
    height: 6em;
    border-radius: 20em;


}


.container {
    margin-left: 80%;
    border: solid;
    border-radius: 4em;
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


#ville {

    font-size: 100%;
}

#temperature {
    font-size: x-large;
    margin-left: 0.8em;
}



#changer {

    display: flex;
    flex-direction: column;
    font-size: larger;
    margin-top: 0.5em;
    border: solid;
    width: 50%;
    border-radius: 4em;
    margin-left: 3.4em;
    cursor: pointer;


}